.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.App {
    padding: 0em 1em;
}

.display {
    margin: 25px 0px;
    height: 100px;
    width: 425px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 5.0rem;
    margin-right: auto;
    padding-right: 8%;
  }

.numbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    padding-bottom: 25px;
}

.numberBtn {
    background-color:  #0202a6;
    color: white;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 1px 3px black;
    width: 5rem;
    height: 5rem;  
    font-size: 1.75rem;
    font-weight: bold;
    outline: 0;
    margin: 0.5rem 0.75rem;
}

.numberBtn:hover {
    background-color: #080878;
}

.numberBtn:active {
    box-shadow: 0 2px black;
    transform: translateY(3px);
  }

.numberBtn:nth-child(10) {
    width: 11.5rem;
    border-radius: 2rem;
}